body {
    margin: auto;
    max-width: 1000px;
}

h1 {
    margin-bottom: 3rem;
}

section {
    margin: 1em 0;
    width: 100%;
    /* background-color: var(--background-secondary-color); */
    display: flex;
    flex-direction: row-reverse;
    gap: 1em;
    flex-wrap: wrap;
}

section img {
    width: 300px;
    min-height: 200px;
    flex-grow: 1;
    flex-shrink: 1;
    object-fit: cover;
    /* box-shadow: 0px 0px 0px 2px var(--primary-color); */
}

section .description {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    /* max-width: 50%; */
    flex-grow: 2;
    flex-shrink: 1;
}

section h2 {
    margin-bottom: 0.5em;
}
