body {
    margin: auto;
    max-width: 1000px;
}

section {
    margin: 1em 0;
    background-color: var(--background-secondary-color);
    display: flex;
    flex-wrap: wrap;
}

section img {
    width: 300px;
    min-height: 200px;
    flex-grow: 1;
    flex-shrink: 1;
    border-right: 2px solid var(--primary-color);
    object-fit: cover;
}

section .description {
    width: 400px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    /* max-width: 50%; */
    flex-grow: 2;
    flex-shrink: 1;
}

section h2 {
    margin-bottom: 0.5em;
}
