.draggable{
    width:80px;
    height: 80px;
    background-color: rgba(255,50,0,0.5);
    border: 10px solid rgba(255,50,0,0.5);
    border-radius: 20px;
    position: relative;
    top: 20px;
    left: 20px;
    display: table-cell;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.flexItems:hover{
    transform: none;
    box-shadow: none;
}

.code-container{
    height:auto;
    box-sizing:border-box;
}

code{
    box-sizing:border-box;
    display: block;
    width: 100%;
    height: 100%;
    background: rgb(27,30,35);
    font-size: 20px;
    text-align: left;
    padding:20px;
    color:white;
    font-family: "Source Code Pro", monospace;
    white-space: pre;
    overflow: scroll;
    border-radius: 5px;
    tab-size: 4;
}

code .red{
    color: rgb(255,80,0);
}

code .blue{
    color: rgb(0,150,255);
}

code .orange{
    color:orange;
}

code .green{
    color: rgb(200,255,50)
}

code .purple{
    color: rgb(200,80,255)
}

code .comment{
    color: rgba(255,255,255,0.5)
}