@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

h1 {
    font-size: 2em;
}

a.main-link {
    font-size: 2em;
    display: block;
}

p {
    font-size: 2em;
    opacity: 0.5;
    text-transform: uppercase;
    line-height: 1;
}

.contact-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(15px);
    transition: all 0.8s ease-out;
}

.contact-container.contact-closed {
    pointer-events: none;
    backdrop-filter: none;
    background-color: transparent;
}

.contact-container.contact-closed .contact-info {
    transform: translateY(100vh) rotate(-50deg);
}

.contact-info {
    position: relative;
    background-color: antiquewhite;
    background-image: url("texture.webp");
    background-size: 100% 100%;
    box-shadow: 0px 3px 5px rgba(187, 151, 94, 0.328), 0px 8px 15px rgba(112, 83, 41, 0.228), 0px 15px 20px rgba(0, 0, 0, 0.19);
    border-top: 1px solid rgba(255, 255, 255, 0.755);
    border-left: 1px solid rgba(255, 255, 255, 0.755);
    outline: 1px solid rgba(0, 0, 0, 0.111);
    box-sizing: content-box;
    padding: 1em;
    width: 500px;
    height: 300px;
    pointer-events: auto;
    transform: rotate(-3deg);
    transition: all 2s cubic-bezier(.1,1.5,.3,.96);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-info * {
    font-family: 'Baskervville', serif;
    color: rgb(60, 60, 60) !important
}

.contact-info h3 {
    font-size: 1.5em;
}

.contact-info a {
    color: var(--primary-color);
}
