body {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 600px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

h1,
p,
a.main-link {
    font-size: 2em;
}

p {
    opacity: 0.5;
    text-transform: uppercase;
    font-style: italic;
    margin-bottom: 1em;
}

#contact-link::after {
    content: "@tonyzhang.net";
    opacity: 0;
    transition: opacity 0.2s;
}

#contact-link:hover::after {
    opacity: 0.3;
}
