@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --accent-color:#FF6363;
    --accent-color:color(display-p3 1 0.4 0.4);
    --background-color:white;
    --foreground-color-1:#464656;
    --foreground-color-2:#666676;
    --background-transparent:rgba(0,0,0,0.6);
    --section-transition-duration: 0.2s;
    --card-transition-duration: 0.2s;
}

@media (prefers-color-scheme: dark) {
    :root{
        --background-color:#36363A;
        --foreground-color-1:whitesmoke;
        --foreground-color-2:#DDDDDD;
    }
}

*{
    box-sizing: border-box;
}

body,html{
    margin:0;
    font-family: "roboto", sans-serif;
    color: var(--foreground-color-1);
    background-color:var(--background-color);
}

h1{
    font-family:"IBM Plex Sans", sans-serif;
    font-weight: 800;
    font-size: calc(45px + (80 - 45) * (100vw - 400px) / (1200 - 400));
    line-height: 1.2em;
    letter-spacing: 0.05em;
    margin:10px 0px;
}

p{
    font-weight: 300;
    font-size: 14px;
    line-height:1.5em;
    margin:0;
    color:var(--foreground-color-2);
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: normal;
}

a {
    color:inherit;
    display:inline-block;
    text-decoration: none;
    transition: background-color 0.1s;
    padding:2px 4px;
    margin:-2px -4px;
    background-color: rgba(0,0,0,0);
    border-radius: 5px;
    word-break: break-all;
}

a:hover{
    background-color: rgba(0,0,0,0.1);
}

a:active{
    background-color: rgba(0,0,0,0.2);
}

header,section{
    width:100%;
    padding:20px calc(50vw - 450px);
}

section h1{
    display: inline-block;
    font-size: calc(18px + (22 - 18) * (100vw - 400px) / (1200 - 400));
    font-weight:400;
}

section h1::after{
    content:"";
    display:block;
    width:0;
    height:2px;
    border-radius: 1px;
    background-color:var(--accent-color);
    transition:width 0.2s, height 0.2s;
}

section h1:hover::after{
    content:"";
    display:block;
    width:100%;
    height:2px;
    background-color:var(--accent-color);
}

@media only screen and (max-width: 940px){
    header,section{
        padding:20px 20px;
    }
    .section-expanded{
        margin: 0px -20px !important;
    }
}

.section-content{
    width:100%;
    height:100%;
}

.section-expanded{
    margin: 0px calc((-50vw + 450px) / 1);
}

header{
    background-color: var(--accent-color);
    display:flex;
    align-items: center;
    height: 60vh;
    min-height:400px;
    color: white;
}

header p{
    color: white;
}


.card-container{
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    align-items: flex-start;
    padding:20px;
}

.card-container::after{
    content: "";
    padding: 10px;
}

.card{
    margin:20px;
    width:480px;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: calc(100% - 40px);
    background-color: var(--section-background);
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 8px 20px rgba(0,0,0,0.1);
    transition-property: box-shadow, transform;
    transition-duration: var(--card-transition-duration);
    transition-timing-function: ease;
    transform: scale(1);
    overflow: hidden;
}

.card:hover{
    transform: rotate(-2deg) scale(1.05);
    box-shadow: 0px 6px 15px rgba(0,0,0,0.2);
}

.card:active{
    transform: scale(0.95);
    box-shadow: 0px 6px 15px rgba(0,0,0,0.08);
}

.card-content{
    width:100%;
    height:auto;
    display:flex;
    border-radius: 5px;
    overflow: hidden;
    transition-property: transform;
    transition-duration: var(--card-transition-duration);
    transition-timing-function: ease;
}

.card-content img{
    width:100%;
}

.card:hover .card-content{
    transform: scale(1.05);
}

.card:active .card-content{
    transform: scale(1);
}

.card-description{
    display:block;
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: var(--background-transparent) !important;
    opacity:0;
    padding:20px;
    margin:0;
    transition-property:opacity, transform, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: ease;
    transition-duration: var(--card-transition-duration);
    transform: scale(1);
    pointer-events: none;
    overflow:hidden;
}

.card-description h3{
    color:white;
    margin:0;
    margin-bottom: 10px;
    font-size: calc(15px + 3vmin / 2);
    font-family: "IBM Plex Sans";
}

.card-description p {
    color:white;
}

.card:hover .card-description{
    -webkit-backdrop-filter: blur(50px) saturate(250%);
    backdrop-filter: blur(50px);
    opacity: 1;
    pointer-events: auto;
}

.card:active .card-description{
    -webkit-backdrop-filter: blur(25px) saturate(140%);
    backdrop-filter: blur(50px);
    pointer-events: auto;
    opacity: 1;

}

#section-youtube .card-content img{
    height:268px;
    width:100%;
    object-fit: cover;
}

@media only screen and (max-width: 560px){
    #section-youtube .card-content img{
        height:calc((100vw - 82px) / 1.778 );
        width:100%;
        object-fit: cover;
    }
}


#section-webdev .card{
    width:520px;
}
