.progress{
    height: 30px;
    width: auto;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 15px;
    margin: 10px 0px 5px 0px;
    overflow: hidden;
}

.progress-bar{
    box-sizing: border-box;
    width: 0%;
    min-width: 30px;
    height: 100%;
    border: 10px solid var(--accent-color);
    border-radius: 15px;
    transition: width 1s;
}
